<% provide(:title, "Log In") %>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Log In</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @user, scope: :session, local: true) do |form|%>
            <% render 'shared/error_messages'%>

            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control"%>
            
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control"%>

            <%= form.submit "Log In", class: "btn btn-primary"%>
            <p> New to this place? <%= link_to 'Sign up to get started =)', signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>