<tr >
    <td scope="row"> <%=  employee.id %> </td>
    <td>  <%=  employee.name %> </td>
    <td>  <%=  employee.telegram_id %> </td>
    <td> 
        <ul>
            <li> Twitter </li>
            <li> Momentum </li>
            <li> Microsoft Windows 10</li>
        </ul>
    </td>
    <td> <%= link_to "edit", "#", class:"btn btn-sm btn-primary" %> <%= link_to "delete", "#", class:"btn btn-sm btn-danger" %><td>
</tr>