<% provide(:title, "Add employee") %>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="container">
      <div class="sign-up-content jumbotron">
        <h1>Add employee</h1>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_with(model: @employee, local: true) do |form|%>
              <%= render 'shared/error_messages',  object: form.object%>

              <%= form.label :name %>
              <%= form.text_field :name, class: "form-control"%>

              <%= form.label :telegram_id %>
              <%= form.text_field :telegram_id, class: "form-control"%>

              <%= form.submit "Create", class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>